.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  margin-bottom: 15px;
}
